{% extends "layout.html" %}
{% block content %}
<table class="table table-striped table-hover">
          <tr>
            <th>User ID</th>
            <th>Score</th>
            <th>Date</th>
          </tr>
          {% for result in results %}
            <tr>
              <td>{{ result.user_id }}</td>
              <td>{{ "{:.2%}".format(result.percentage) }}</td>
              <td>{{ result.date.strftime('%Y/%m/%d, %H:%M:%S') }}</td>
            </tr>
          {% endfor %}
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>
      

{% endblock content %}