{% extends "layout.html" %}
{% block content %}
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename = 'materialize.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">  
</head>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class = "form-container">
                <h4 class="orange-text">Reset Password</h4>
                <div class="row">
                        <div class="input-field col s12">
                                {{ form.email.label(class_="validate" + form.email.name) }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class_="validate") }}
                                {% endif %}
                        </div>
                    </div>
                </div>
            <center>
                    {{ form.submit(class_="btn orange darken-2") }}
            </center>
        </form>

{% endblock content %}