{% extends "layout.html" %}
{% block content %}
<legend>Good Luck Have Fun</legend>
<form action="{{ url_for('triviaa.trivia_answers') }}" method='POST'>
  <ol>
    {% for trivia in trivia_questions %}
      <li> {{ trivia }}</li>
      {% for answers in trivia_questions[trivia] %}
        {% if answers == None %}
          <!-- continue -->
        {% else %}
          <input type='radio' value='{{answers}}' name='{{trivia}}' />{{answers}}<br>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
</form>
{% endblock content %}