{% extends "layout.html" %}
{% block content %}
<legend>Good Luck Have Fun</legend>
<form action="{{ url_for('triviaa.trivia_answers') }}" method='POST'>
  <ol>
    {% for trivia in trivia_questions %}
      <li> {{ trivia.question }} </li>
      <div class="custom-control custom-radio">
        <input type="radio" name="{{ trivia.id }}" value="{{ trivia.correct_answer }}" class="custom-control-input">{{ trivia.correct_answer }}<br>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" name="{{ trivia.id }}" value="{{ trivia.incorrect_answer }}" class="custom-control-input">{{ trivia.incorrect_answer }}<br>
      </div>
      {% if trivia.incorrect_answer2 == None %}
          <!-- continue -->
      {% else %}
          <input type="radio" name="{{ trivia.id }}" value="{{ trivia.incorrect_answer2 }}" class="custom-control-input">{{ trivia.incorrect_answer2 }}<br>
          <input type="radio" name="{{ trivia.id }}" value="{{ trivia.incorrect_answer3 }}" class="custom-control-input">{{ trivia.incorrect_answer3 }}<br>
      {% endif %}
    {% endfor %}
  </ol>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
</form>
{% endblock content %}