{% extends "layout.html" %}
{% block content %}
<legend>Good Luck Have Fun</legend>
<form action="{{ url_for('triviaa.trivia_answers') }}" method='POST'>
  <ol>
    {% for trivia in trivia_questions %}
      <h3><li> {{ trivia }} </li></h3>
      {% for answers in trivia_questions[trivia] %}
        {% if answers == None %}
          <!-- continue -->
        {% else %}
          <div>
            <input type='radio' value='{{answers}}' name='{{trivia}}'/>
            <label> {{answers}} </label>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>
  <center><input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" /></center>
</form>
{% endblock content %}