{% extends "layout.html" %}
{% block content %}
<h1>Correct Answers: <u>{{accuracy}}</u></h1>
<form>
  <ol>
  {% for trivia in original %}
    <li> {{ trivia }} </li>
    {% for answers in original[trivia] %}
      {% if answers == None %}
        <!-- continue -->
      {% else %}
        {% if answers == answered[trivia] == correct[trivia] %}
          <input type='radio' value='{{answers}}' name='{{trivia}}' checked/><label style="color:green">{{answers}}</label><br>
        {% elif answers == correct[trivia] %}
          <input type='radio' value='{{answers}}' name='{{trivia}}'disabled/><label style="color:green">{{answers}}</label><br>
        {% elif answers == answered[trivia] != correct[trivia]%}
          <input type='radio' value='{{answers}}' name='{{trivia}}' checked/><label style="color:red">{{answers}}</label><br>
        {% else %}
          <input type='radio' value='{{answers}}' name='{{trivia}}' disabled/>{{answers}}<br>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ol>
</form>
<form action="{{ url_for('triviaa.take_trivia') }}">
    <input type='submit' value='Another Trivia' />
</form>
{% endblock content %}