{% extends "layout.html" %}
{% block content %}
<h1>Correct Answers: <u>{{accuracy}}</u></h1>
<form>
  <ol>
  {% for trivia in original %}
    <h3><li> {{ trivia }} </li></h3>
    {% for answers in original[trivia] %}
      {% if answers == None %}
        <!-- continue -->
      {% else %}
        {% if answers == answered[trivia] == correct[trivia] %}
          <input type='radio' value='{{answers}}' name='{{trivia}}' checked/><label style="color:green">{{answers}}</label><br>
        {% elif answers == correct[trivia] %}
          <input type='radio' value='{{answers}}' name='{{trivia}}'disabled/><label style="color:green">{{answers}}</label><br>
        {% elif answers == answered[trivia] != correct[trivia]%}
          <input type='radio' value='{{answers}}' name='{{trivia}}' checked/><label style="color:red">{{answers}}</label><br>
        {% else %}
          <input type='radio' value='{{answers}}' name='{{trivia}}' disabled/>{{answers}}<br>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ol><br>
</form>
<form action="{{ url_for('triviaa.take_trivia') }}">
    <center><input type='submit' class="btn btn-primary btn-block" style = "width: 150px;"value='Another Trivia' /></center>
</form>
{% endblock content %}