{% extends "layout.html" %}
{% block content %}
<h1>Correct Answers: <u>{{correct}}</u></h1>
<ol>
    {% for trivia in original %}
        <li> {{ trivia.question }} </li>
            <input type="radio" name="{{ trivia.id }}" value="{{ trivia.correct_answer }}" checked> <label style="color:green">{{ trivia.correct_answer }}</label><br>
            <input type="radio" name="{{ trivia.id }}" value="{{ trivia.incorrect_answer }}" disabled>{{ trivia.incorrect_answer }}<br>
            {% if trivia.incorrect_answer2 == None %}
                <!-- continue -->
            {% else %}
                <input type="radio" name="{{ trivia.id }}" value="{{ trivia.incorrect_answer2 }}">{{ trivia.incorrect_answer2 }}<br>
                <input type="radio" name="{{ trivia.id }}" value="{{ trivia.incorrect_answer3 }}">{{ trivia.incorrect_answer3 }}<br>
            {% endif %}
    {% endfor %}
</ol>

<form action="{{ url_for('triviaa.take_trivia') }}">
    <input type='submit' value='Another Trivia' />
</form>
{% endblock content %}